.DS_Store
backend/db/db_sidamas.db
backend/db/*
backend/application/cache/*
backend/application/log_activity.txt
!backend/application/cache/index.html
backend/uploads/*

backend/application/logs/*
!backend/application/logs/index.html

!backend/application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
frontend/vendor/
/uploads/

frontend/vendor

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
/front-end/node_modules/
backend/db/db_sidamas.db
